<%= form_for @beerpost do |f| %>
  <% if @beerpost.errors.any? %>
    <h2><%= pluralize(@beerpost.errors.count, "error") %>Prevent this post from saving:</h2>
      <ul>
        <% @beerpost.errors.full_messages.each do |msg| %>
          <li><% msg %></li>
        <% end %>
      </ul>
  <% end %>

  <%= f.label :title %><br>
  <%= f.text_field :title %> 
  <br>
  <br>

  <%= f.label :image %><br>
  <%= f.file_field :image %>
  <% if f.object.image? %>
    <%= image_tag f.object.image.thumb.url %>
    <%= f.label :remove_image %>
    <%= f.check_box :remove_image %> 
  <% end %>

  <br>
  <br>
  <%= f.submit %>
<% end %>